name: Build Unity project

on: [push, pull_request]

jobs:
  buildForQuest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true 
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'ProjectSettings/**', 'Packages/**') }}
          restore-keys: |
            Library-
      
      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: WebGL
          buildMethod: AutomatedBuild.BuildWeb
          unityVersion: 6000.0.66f1
          versioning: Semantic

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: WebGL-Build
          path: |
            **/builds/*.html
            builds/**/*.html
            builds/**/*.html
